<h1>You've added a new Place Visited</h1>
<ul>
  @foreach(var newPlace in @Model)
  {
    <li><a href="/place/@newPlace.GetId()">@newPlace.GetCountry()</a></li>
  }
</ul>
<p><a href="/form/new">Add another Place Visited</a></p>
